<div class="footer">
    <img src="/images/new_powered.gif" alt="Powered by Scoop" title="Powered by Scoop">
    <div class="copyright">
    All trademarks and copyrights on this page are owned by their respective companies.  Comments and Stories are owned by the Poster and Licensed to &quot;Hulver's site&quot;. See our <a class="light" href="|rootdir|/special/copyright">Copyright</a> page for more information.
    </div>
    <a class="light" href="/scoop/special/faq">faq</a> |
<a class="light" href="http://wiki.hulver.com/">help</a> |
<a class="light" href="/scoop/story/2005/1/19/61940/1053">accounts</a> 
    </div>