<!-- story_summary -->
<div class="storysummary">
    <div class="storytitle">
        <span class="printicon"><a href="/print/<%= story.sid %>"><img src="/images/printer.gif" width="17" height="14" alt="Print Story"></a></span>
        <span class="hotlist">|hotlist|</span>
        <%= story.title %>
    </div>
    
    <div class="storyintro_info">
    <div class="topicimg">|topic_img|</div>
    By |info| (|time|) |tags|</div>
    
    <div class="storyintro">
    |introtext| 
    </div>
    <br>
    <div class="storystats">
    |stats| |readmore| |BOX,event,|sid||
    </div>
</div>
    <!-- X story_summary -->